<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="testcomponent.heyongrui.com.componenta">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".ComponentActivityA"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name="testcomponent.heyongrui.com.componenta.ui.unsplash.view.UnsplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name="testcomponent.heyongrui.com.componenta.ui.mono.view.MonoTabActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name="testcomponent.heyongrui.com.componenta.ui.mono.view.MonoTeaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name="testcomponent.heyongrui.com.componenta.ui.mono.view.MonoCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name="testcomponent.heyongrui.com.componenta.ui.mono.view.MonoCategoryDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name="testcomponent.heyongrui.com.componenta.ui.mono.view.MonoH5Activity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name="testcomponent.heyongrui.com.componenta.ui.unsplash.view.UnsplashDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullscreen" />

        <service
            android:name="testcomponent.heyongrui.com.componenta.musicservice.MusicService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>
