<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.billy.cc.demo.component.a">

    <application
        android:name="debug.MyApp"
        android:allowBackup="false"
        android:icon="@mipmap/demo_a_ic_launcher"
        android:label="@string/demo_a_app_name"
        android:supportsRtl="true"
        android:theme="@style/demo_a_AppTheme">
        <activity android:name="testcomponent.heyongrui.com.componenta.ComponentActivityA">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="testcomponent.heyongrui.com.componenta.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/demo_a_AppTheme" />
        <activity
            android:name="testcomponent.heyongrui.com.componenta.ui.unsplash.view.UnsplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/demo_a_AppTheme" />
        <activity
            android:name="testcomponent.heyongrui.com.componenta.ui.qingmang.view.QingMangCategoriesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/demo_a_AppTheme" />
        <activity
            android:name="testcomponent.heyongrui.com.componenta.ui.qingmang.view.QingMangArticleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/demo_a_AppTheme" />
        <activity
            android:name="testcomponent.heyongrui.com.componenta.ui.mono.view.MonoTabActivity"
            android:screenOrientation="portrait"
            android:theme="@style/demo_a_AppTheme" />
        <activity
            android:name="testcomponent.heyongrui.com.componenta.ui.mono.view.MonoTeaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/demo_a_AppTheme" />
        <activity
            android:name="testcomponent.heyongrui.com.componenta.ui.mono.view.MonoCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/demo_a_AppTheme" />
        <activity
            android:name="testcomponent.heyongrui.com.componenta.ui.mono.view.MonoCategoryDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/demo_a_AppTheme" />
        <activity
            android:name="testcomponent.heyongrui.com.componenta.ui.H5Activity"
            android:screenOrientation="portrait"
            android:theme="@style/demo_a_AppTheme" />
        <activity
            android:name="testcomponent.heyongrui.com.componenta.ui.mono.view.MonoMusicPlayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/demo_a_AppTheme" />
        <activity
            android:name="testcomponent.heyongrui.com.componenta.ui.unsplash.view.UnsplashDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullscreen" />

        <service
            android:name="testcomponent.heyongrui.com.componenta.musicservice.MusicService"
            android:enabled="true"
            android:exported="true" />
    </application>
</manifest>
